
.bg {
    /* The image used */
    background-image: url('/assets/images/image1.jpg');
  
    /* Full height */
    height: 100%; 
    color: aliceblue;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }